/* Your Website Styles */
body{
	background: url("../img/stardust.png") ;
}
h1{
	font-family: 'Oswald';
	color:	#42CDA3;
	font-style: italic;

	background: red;
	padding: 10px;
	border: 10px black double;
	width: 300px;
	margin: 10px;
}

p{
	line-height: 36px;
	color: #2BA180;
}
h3{
	color: red;
}

#leadin{
	color: white;
	background: blue;
}
.subhead{
	font-style: italic;
	margin-left: 30px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;

}